{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}Portfolio de Toni Paricio{% endblock %}
{% block description %}Información acerca de Toni Paricio. Trabajos, proyectos, habilidades, formación, cursos y redes sociales{% endblock %}

{% block body %}
  <div id="about-section" class="row">
    {% include 'layouts/aside.html' %}
    <main class="col m10 s10">
        <h2 class="center-align">Cambiar contraseña</h2>
        <div class="col m6 s12 offset-m3">
            {% if form.errors %}
            <div class="msg msg-error z-depth-3 scale-transition">{{ form.errors }}</div>
            {% endif %}
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}

                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
                    <input type="submit" value="Cambiar mi contraseña" />
                </form>
            {% else %}
                <div class="msg msg-error z-depth-3 scale-transition">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</div>
            {% endif %}
        </div>
    </main
  </div>
{% endblock %}