{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}Portfolio de Toni Paricio{% endblock %}
{% block description %}Información acerca de Toni Paricio. Trabajos, proyectos, habilidades, formación, cursos y redes sociales{% endblock %}

{% block body %}
  <div id="about-section" class="row">
    {% include 'layouts/aside.html' %}
    <main class="col m10 s10">
        <h1 class="text-center">Su contraseña se reestableció correctamente</h1>


	    <p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
    </main
  </div>
{% endblock %}