{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}Portfolio de Toni Paricio{% endblock %}
{% block description %}Información acerca de Toni Paricio. Trabajos, proyectos, habilidades, formación, cursos y redes sociales{% endblock %}

{% block body %}
  <div id="about-section" class="row">
    {% include 'layouts/aside.html' %}
    <main class="col m10 s10">
        <h2 class="center-align">Recuperar contraseña</h2>
        <div class="col m6 s12 offset-m3">
            {% if form.errors %}
            <div class="msg msg-error z-depth-3 scale-transition">{{ form.errors }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="id_email">Correo:</label>
                {{ form.email }}
                <button type="submit" class="btn">Recuperar contraseña</button>
            </form>
        </div>
    </main
  </div>
{% endblock %}